// Generated with Lushay Code

IO_LOC  "CLK" 52;
IO_PORT "CLK" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "LED[0]" 10;
IO_PORT "LED[0]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "LED[1]" 11;
IO_PORT "LED[1]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "LED[2]" 13;
IO_PORT "LED[2]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "LED[3]" 14;
IO_PORT "LED[3]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "LED[4]" 15;
IO_PORT "LED[4]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "LED[5]" 16;
IO_PORT "LED[5]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "BTN_S1" 3;
IO_PORT "BTN_S1" IO_TYPE=LVCMOS18;

IO_LOC  "BTN_S2" 4;
IO_PORT "BTN_S2" IO_TYPE=LVCMOS18;

IO_LOC  "SD_CLK" 36;
IO_PORT "SD_CLK" IO_TYPE=LVCMOS33;

IO_LOC  "SD_DAT0" 39;
IO_PORT "SD_DAT0" IO_TYPE=LVCMOS33;

IO_LOC  "SD_CMD" 37;
IO_PORT "SD_CMD" IO_TYPE=LVCMOS33;

IO_LOC  "CD_CS" 38;
IO_PORT "CD_CS" IO_TYPE=LVCMOS33;

IO_LOC  "flashClk" 59;
IO_PORT "flashClk" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "flashMiso" 62;
IO_PORT "flashMiso" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "flashMosi" 61;
IO_PORT "flashMosi" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "flashCs" 60;
IO_PORT "flashCs" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "UART_TX" 17;
IO_PORT "UART_TX" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "UART_RX" 18;
IO_PORT "UART_RX" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "hdmiTmdsData[0]" 71,70;
IO_PORT "hdmiTmdsData[0]" DRIVE=8;

IO_LOC  "hdmiTmdsData[1]" 73,72;
IO_PORT "hdmiTmdsData[1]" DRIVE=8;

IO_LOC  "hdmiTmdsData[2]" 75,74;
IO_PORT "hdmiTmdsData[2]" DRIVE=8;

IO_LOC  "hdmiTmdsClk" 69,68;
IO_PORT "hdmiTmdsClk" DRIVE=8;
