// Clock

// OSC_27MHz
IO_LOC  "CLK" 4;
IO_PORT "CLK" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// PIN10_5351CKP (MS5351M CLK0)
ID_LOC  "CLK_P" 10;
IO_PORT "CLK_P" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// PIN11_5351CKN (MS5351M CLK1)
ID_LOC  "CLK_N" 11;
IO_PORT "CLK_N" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// PIN13_HSPI_SCLK (MS5351M CLK2)
ID_LOC  "CLK_S" 13;
IO_PORT "CLK_S" IO_TYPE=LVCMOS33 PULL_MODE=UP;


// LEDs

IO_LOC "LED[0]" 15;     // IOL47A
IO_PORT "LED[0]" PULL_MODE=UP DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC "LED[1]" 16;     // IOL47B
IO_PORT "LED[1]" PULL_MODE=UP DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC "LED[2]" 17;     // IOL49A
IO_PORT "LED[2]" PULL_MODE=UP DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC "LED[3]" 18;     // IOL49B
IO_PORT "LED[3]" PULL_MODE=UP DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC "LED[4]" 19;     // IOL51A
IO_PORT "LED[4]" PULL_MODE=UP DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC "LED[5]" 20;     // IOL51B
IO_PORT "LED[5]" PULL_MODE=UP DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC "WS2812" 79;
IO_PORT "WS2812" DRIVE=8;

// Buttons

IO_LOC  "BTN_S1" 88;
IO_PORT "BTN_S1" IO_TYPE=LVCMOS33;

IO_LOC  "BTN_S2" 87;
IO_PORT "BTN_S2" IO_TYPE=LVCMOS33;

// UART

IO_LOC  "UART_TX" 69;
IO_PORT "UART_TX" IO_TYPE=LVCMOS33;

IO_LOC  "UART_RX" 70;
IO_PORT "UART_RX" IO_TYPE=LVCMOS33;

// 64Mbit FLASH

IO_LOC  "MSPI_HOLD" 63;
IO_PORT "MSPI_HOLD" PULL_MODE=NONE IO_TYPE=LVCMOS33;

IO_LOC  "MSPI_DO"   62;
IO_PORT "MSPI_DO" PULL_MODE=NONE DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "MSPI_DI"   61;
IO_PORT "MSPI_DI" PULL_MODE=NONE DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "MSPI_CS"   60;
IO_PORT "MSPI_CS" PULL_MODE=UP IO_TYPE=LVCMOS33;

IO_LOC  "MSPI_CLK"  59;
IO_PORT "MSPI_CLK" PULL_MODE=NONE DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "MSPI_WP"   58;
IO_PORT "MSPI_WP" PULL_MODE=DOWN IO_TYPE=LVCMOS33;

// HDMI

IO_LOC  "hdmiTmdsData[0]" 35,36;
IO_PORT "hdmiTmdsData[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC  "hdmiTmdsData[1]" 37,38;
IO_PORT "hdmiTmdsData[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC  "hdmiTmdsData[2]" 39,40;
IO_PORT "hdmiTmdsData[2]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC  "hdmiTmdsClk" 33,34;
IO_PORT "hdmiTmdsClk" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC  "EDID_CLK" 53;
IO_PORT "EDID_CLK" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "EDID_DAT" 52;
IO_PORT "EDID_DAT" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// SDCard

IO_LOC "SD_CLK" 83;
IO_PORT "SD_CLK" PULL_MODE=NONE IO_TYPE=LVCMOS33;

IO_LOC "SD_CMD" 82;        // MOSI
IO_PORT "SD_CMD" PULL_MODE=NONE IO_TYPE=LVCMOS33;

IO_LOC "SD_DAT0" 84;       // MISO
IO_PORT "SD_DAT0" PULL_MODE=NONE IO_TYPE=LVCMOS33;

IO_LOC "SD_DAT1" 85;
IO_PORT "SD_DAT1" PULL_MODE=NONE IO_TYPE=LVCMOS33;

IO_LOC "SD_DAT2" 80;
IO_PORT "SD_DAT2" PULL_MODE=NONE IO_TYPE=LVCMOS33;

IO_LOC "SD_DAT3" 81;
IO_PORT "SD_DAT3" PULL_MODE=NONE IO_TYPE=LVCMOS33;

// Audio
// https://www.analog.com/media/en/technical-documentation/data-sheets/max98357a-max98357b.pdf

IO_LOC "AUD_EN" 51; // A_~{SD}/EN
IO_PORT "AUD_EN" PULL_MODE=UP DRIVE=8;

IO_LOC "AUD_I2S_DIN" 54;
IO_PORT "AUD_I2S_DIN" PULL_MODE=UP DRIVE=8;

IO_LOC "AUD_I2S_LRCK" 55;
IO_PORT "AUD_I2S_LRCK" PULL_MODE=UP DRIVE=8;

IO_LOC "AUD_I2S_BCLK" 56;
IO_PORT "AUD_I2S_BCLK" PULL_MODE=UP DRIVE=8;

// LCD

IO_LOC "LCD_B[4]" 27;
IO_PORT "LCD_B[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;

IO_LOC "LCD_B[3]" 28;
IO_PORT "LCD_B[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;

IO_LOC "LCD_B[2]" 29;
IO_PORT "LCD_B[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;

IO_LOC "LCD_B[1]" 30;
IO_PORT "LCD_B[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;

IO_LOC "LCD_B[0]" 31;
IO_PORT "LCD_B[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;

IO_LOC "LCD_G[5]" 32;
IO_PORT "LCD_G[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;

IO_LOC "LCD_G[4]" 33;
IO_PORT "LCD_G[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;

IO_LOC "LCD_G[3]" 34;
IO_PORT "LCD_G[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;

IO_LOC "LCD_G[2]" 35;
IO_PORT "LCD_G[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;

IO_LOC "LCD_G[1]" 36;
IO_PORT "LCD_G[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;

IO_LOC "LCD_G[0]" 37;
IO_PORT "LCD_G[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;

IO_LOC "LCD_R[4]" 38;
IO_PORT "LCD_R[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;

IO_LOC "LCD_R[3]" 39;
IO_PORT "LCD_R[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;

IO_LOC "LCD_R[2]" 40;
IO_PORT "LCD_R[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;

IO_LOC "LCD_R[1]" 41;
IO_PORT "LCD_R[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;

IO_LOC "LCD_R[0]" 42;
IO_PORT "LCD_R[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;

IO_LOC "LCD_DEN" 48;
IO_PORT "LCD_DEN" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;

IO_LOC "LCD_CLK" 77;
IO_PORT "LCD_CLK" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;

// SDRAM
// https://github.com/YosysHQ/apicula/blob/master/doc/sdram.md
//https://github.com/Patcybermind/testing-ram-on-tang-nano-20k-oss/blob/main/nano20k.cst

IO_LOC "O_sdram_clk" IOR11B;
IO_PORT "O_sdram_clk"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "O_sdram_cke" IOL13A;
IO_PORT "O_sdram_cke"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "O_sdram_cs_n" IOL14B;
IO_PORT "O_sdram_cs_n"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "O_sdram_cas_n" IOL14A;
IO_PORT "O_sdram_cas_n"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "O_sdram_ras_n" IOL13B;
IO_PORT "O_sdram_ras_n"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "O_sdram_wen_n" IOL12B;
IO_PORT "O_sdram_wen_n"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "O_sdram_dqm[0]" IOL12A;
IO_PORT "O_sdram_dqm[0]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "O_sdram_dqm[1]" IOR11A;
IO_PORT "O_sdram_dqm[1]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "O_sdram_dqm[2]" IOL18A;
IO_PORT "O_sdram_dqm[2]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "O_sdram_dqm[3]" IOR15B;
IO_PORT "O_sdram_dqm[3]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "O_sdram_addr[0]" IOR14A;
IO_PORT "O_sdram_addr[0]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "O_sdram_addr[1]" IOR13B;
IO_PORT "O_sdram_addr[1]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "O_sdram_addr[2]" IOR14B;
IO_PORT "O_sdram_addr[2]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "O_sdram_addr[3]" IOR15A;
IO_PORT "O_sdram_addr[3]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "O_sdram_addr[4]" IOL16B;
IO_PORT "O_sdram_addr[4]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "O_sdram_addr[5]" IOL17B;
IO_PORT "O_sdram_addr[5]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "O_sdram_addr[6]" IOL16A;
IO_PORT "O_sdram_addr[6]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "O_sdram_addr[7]" IOL17A;
IO_PORT "O_sdram_addr[7]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "O_sdram_addr[8]" IOL15B;
IO_PORT "O_sdram_addr[8]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "O_sdram_addr[9]" IOL15A;
IO_PORT "O_sdram_addr[9]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "O_sdram_addr[10]" IOR12B;
IO_PORT "O_sdram_addr[10]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "O_sdram_ba[0]" IOR13A;
IO_PORT "O_sdram_ba[0]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "O_sdram_ba[1]" IOR12A;
IO_PORT "O_sdram_ba[1]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "IO_sdram_dq[0]" IOL3A;
IO_PORT "IO_sdram_dq[0]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "IO_sdram_dq[1]" IOL3B;
IO_PORT "IO_sdram_dq[1]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "IO_sdram_dq[2]" IOL8A;
IO_PORT "IO_sdram_dq[2]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "IO_sdram_dq[3]" IOL8B;
IO_PORT "IO_sdram_dq[3]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "IO_sdram_dq[4]" IOL9A;
IO_PORT "IO_sdram_dq[4]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "IO_sdram_dq[5]" IOL9B;
IO_PORT "IO_sdram_dq[5]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "IO_sdram_dq[6]" IOL11A;
IO_PORT "IO_sdram_dq[6]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "IO_sdram_dq[7]" IOL11B;
IO_PORT "IO_sdram_dq[7]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "IO_sdram_dq[8]" IOR9B;
IO_PORT "IO_sdram_dq[8]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "IO_sdram_dq[9]" IOR9A;
IO_PORT "IO_sdram_dq[9]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "IO_sdram_dq[10]" IOR5B;
IO_PORT "IO_sdram_dq[10]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "IO_sdram_dq[11]" IOR6A;
IO_PORT "IO_sdram_dq[11]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "IO_sdram_dq[12]" IOR5A;
IO_PORT "IO_sdram_dq[12]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "IO_sdram_dq[13]" IOR4B;
IO_PORT "IO_sdram_dq[13]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "IO_sdram_dq[14]" IOR3B;
IO_PORT "IO_sdram_dq[14]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "IO_sdram_dq[15]" IOR3A;
IO_PORT "IO_sdram_dq[15]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "IO_sdram_dq[16]" IOL39B;
IO_PORT "IO_sdram_dq[16]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "IO_sdram_dq[17]" IOL39A;
IO_PORT "IO_sdram_dq[17]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "IO_sdram_dq[18]" IOL35B;
IO_PORT "IO_sdram_dq[18]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "IO_sdram_dq[19]" IOL35A;
IO_PORT "IO_sdram_dq[19]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "IO_sdram_dq[20]" IOL30B;
IO_PORT "IO_sdram_dq[20]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "IO_sdram_dq[21]" IOL30A;
IO_PORT "IO_sdram_dq[21]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "IO_sdram_dq[22]" IOL20A;
IO_PORT "IO_sdram_dq[22]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "IO_sdram_dq[23]" IOL18B;
IO_PORT "IO_sdram_dq[23]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "IO_sdram_dq[24]" IOR17A;
IO_PORT "IO_sdram_dq[24]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "IO_sdram_dq[25]" IOR16A;
IO_PORT "IO_sdram_dq[25]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "IO_sdram_dq[26]" IOR16B;
IO_PORT "IO_sdram_dq[26]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "IO_sdram_dq[27]" IOR17B;
IO_PORT "IO_sdram_dq[27]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "IO_sdram_dq[28]" IOR18A;
IO_PORT "IO_sdram_dq[28]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "IO_sdram_dq[29]" IOR18B;
IO_PORT "IO_sdram_dq[29]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "IO_sdram_dq[30]" IOR44A;
IO_PORT "IO_sdram_dq[30]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

IO_LOC "IO_sdram_dq[31]" IOR44B;
IO_PORT "IO_sdram_dq[31]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
